@inherits LayoutComponentBase
@using RequiemNexus.Web.Components.Layout

<div class="page">

    <SharedHeader />

    <main>
        <article class="content px-4 fade-in">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
