@inherits LayoutComponentBase
@layout MainLayout

<div class="manage-wrapper fade-in">
    <aside class="manage-sidebar">
        <RequiemNexus.Web.Components.Pages.Account.Manage.ManageNavMenu />
    </aside>
    <main class="manage-content">
        <div class="manage-card">
            @Body
        </div>
    </main>
</div>
